.animado {
    padding: 15px;
    background: purple;
    color: white;
    border: none;
    animation: aparecer 1.5s ease-in;
    transition: 0.3s;
}

.animado:hover {
    background: rgb(92, 0, 92);
    cursor: pointer;
}

@keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
}
