body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    background: steelblue;
    color: white;
    padding: 20px;
    flex: 1 1 100px;
    text-align: center;
}
